
<img style="display: block; margin-left: auto;margin-right: auto;" src="404.png" alt="404">
<h1> <%= message %> </h1>
<h2> <%= error.status %> </h2>
<pre><%= error.stack %></pre>

<h1> <%= console.log(message) %> </h1>
<h2> <%= console.log(error.status) %> </h2>
<pre><%= console.log(error.stack) %></pre>


<style>
    section{
        margin-top: 140px;
    }
</style>