<div class="sidebar">
    <div class="menu-bar">
        <ul class="menu-bar-ul">
            <li class="menu-bar-li" >
                <a href="<%= systemConfig.prefixAdmin %>/dashboard">
                    Dashboard
                </a>
            </li>
            <li class="menu-bar-li ">
                <a href="<%= systemConfig.prefixAdmin %>/books">
                    Books
                </a>
            </li>
            <li class="menu-bar-li ">
                <a href="<%= systemConfig.prefixAdmin %>/categories">
                    Categories
                </a>
            </li>
            <li class="menu-bar-li ">
                <a href="<%= systemConfig.prefixAdmin %>/groups">
                    Groups
                </a>
            </li>
            <li class="menu-bar-li ">
                <a href="<%= systemConfig.prefixAdmin %>/classes">
                    Classes
                </a>
            </li>
            <li class="menu-bar-li ">
                <a href="<%= systemConfig.prefixAdmin %>/banners">
                    Banners
                </a>
            </li>
            <li class="menu-bar-li ">
                <a href="<%= systemConfig.prefixAdmin %>/users">
                    Users
                </a>
            </li>
            <li class="menu-bar-li ">
                <a href="<%= systemConfig.prefixAdmin %>/bills">
                    Bills
                </a>
            </li>
            
        </ul>
    </div>
</div>

<script>
    
</script>