
<% 
const type = 'categories'; 
const linkPrefix =systemConfig.prefixAdmin + `/${type}/`;
%>

<% include ./../../helpers/selectbox %>

<%= JSON.stringify(item) %>

<div class="form">
    <div class="form-heading">
        <h1>Add Item</h1>
    </div>

        <% if(errors) {%>
            <div class="alert defeat add" style="display: none;">
                <% errors.forEach((errors) => { %>
                <span id = "<%= errors.param%>"><%= errors.msg%> </span><br>
                <%})%>
            </div>
        <%} %> 
            
        


    <div class="form-content">
        <div>
            <h3>Form</h3>
        </div>
        <div>
            <form action="<%= linkPrefix %>save/" method="POST">
                <div>
                    <div>
                        <div class="form-group">
                            <label>Name</label><span id="name"></span>
                            <input class="form-control" id="name" name="name" type="text" onkeyup="ChangeToSlug();" value="<%= item.name%>">
                        </div>
                        <div class="form-group">
                            <label>Slug</label><span id="slug"></span>
                            <input class="form-control" id="slug" name="slug" type="text" value="<%= item.slug%>">
                        </div>
                        <div class="form-group">
                            <label>Status</label><span id="status"></span>
                            <select name="status" class="form-control">
                                <option value="novalue">Choose</option>
                                <option value="active" <%=(item.status == "active")? 'selected = "selected"' : '' %>>Active</option>
                                <option value="inactive" <%= (item.status == "inactive")? 'selected = "selected"' : '' %>>Inactive</option>
                            </select>
                        </div>
                        <div class="form-group">  <!-- GroupID -->
                            <label>Group</label><span id="group"></span>
                            <%- selectHelper('group', groups, item.group)%>
                        </div>
                       

                        <div class="form-group">
                            <label>Ordering</label><span id="ordering"></span>
                            <input class="form-control" name="ordering" type="number" value="<%= item.ordering%>">
                        </div>                    
                    </div>

                </div>
                
                <div style="width: 100px; margin-left: 10px;">
                    <input class="form-control" name="id" value="<%=item.id %>" type="hidden" >
                    <button type="submit">Submit</button>
                    <button>Cancel</button>
                </div>

            </form>
        </div>
    </div>
    
</div>

<script>
    
    a = document.getElementsByClassName("alert")[0].getElementsByTagName("span");
    b = document.getElementsByClassName("form-group");

    for(let i = 0; i < a.length ; i++) {
        
        for(let j = 0; j < b.length; j++){
            c = b[j].getElementsByTagName("span")[0];
            
            if ( a[i].id == c.id){
                c.innerHTML = a[i].innerText;
            } 
        }
    }



</script>